:root {
  --black: #000000;
  /* --black: red; */
  --gray: #a0a0a4;
  --white: #ffffff;
  --light: #f6f6fa;
  --purple: #6725a8;
  --pink: #cb11ab;
  --green: #0cb477;
  --orange: #f55123;
  --red: #ff3b30;
}
