.missing {
  margin-bottom: 38px;
  /* display: none; */
  /* display: none; */
}

.missing__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  padding-bottom: 18px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.missing__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  gap: 3px;
}
.missing__arrow {
  padding: 0;
  height: 20px;
  cursor: pointer;
  transform: rotate(180deg);
}
.missing__arrow.active {
  transform: rotate(0deg);
}

.missing__items {
  display: none;
}
.missing__items.active {
  display: block;
}
.missing__item {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.missing__item:not(:last-child) {
  margin-bottom: 30px;
}
.missing__left {
  display: flex;
}
.missing__image {
  margin-right: 16px;
}
.missing__image img {
  filter: grayscale(1);
  width: 72px;
  height: 96px;
  border-radius: 8px;
}
.missing__content {
  color: #9797af;
}
.missing__name {
  margin-bottom: 6.5px;
  font-size: 16px;
  line-height: 24px;
  max-width: 309px;
}
.missing__values {
  display: flex;
  gap: 16px;
}
.missing__value {
  line-height: 16px;
}
.missing__right {
  margin-right: 126.5px;
}
.missing__icons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
.missing__like {
  cursor: pointer;
  padding: 0px;
}
.missing__like.active svg path {
  fill: var(--pink);
}
.missing__remove {
  cursor: pointer;
  padding: 0px;
}
.missing__like:hover svg path {
  fill: var(--pink);
}
.missing__remove {
  cursor: pointer;
  padding: 0;
}
.missing__remove:hover svg path {
  fill: var(--orange);
}
.missing__size-mob {
  display: none;
}
@media (max-width: 767.9px) {
  .missing {
    margin-bottom: 15px;
  }
  .missing__right {
    margin-right: 12px;
  }
  .missing__icons {
    gap: 24px;
  }
  .missing__top {
    padding-right: 4px;
  }
  .missing__size-mob {
    position: absolute;
    top: 79px;
    left: 4px;
    z-index: 3;
    /* width: 22px; */
    padding: 0px 3px;
    height: 22px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 491.9px) {
  .missing__image img {
    width: 80px;
    height: 106px;
  }
  .missing__value:not(:first-child) {
    display: none;
  }
  .missing__name {
    font-size: 14px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
  }
  .missing__icons {
    position: absolute;
    right: 4px;
    bottom: 18px;
  }
  .missing__left {
    min-width: 100%;
  }
  .missing__item {
    padding-bottom: 49px;
  }
  .missing__item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
  }
}
